body {
	padding-top: 55px;
}

section {
	padding-top: 120px;
}

p {
	/*color: #009999;*/
	padding: 10px 0px 0px 10px;
	/*font-size: 1em;*/
}

footer {
	text-align: center;
	padding: 20px;
}

a {
	color: #009999
}

#socialmedia {
	padding: 25px;
	text-align: center;	
}

#signature {
	font-size: 1.143em;
}

.jumbotron {
	background: #009999;
	color: #FFFAF0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #009999;
}

.navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:hover,
 .navbar-default .navbar-nav > .open > a:focus {
    color: #009999;
}

.navbar-default .navbar-nav .open .dropdown-menu> li> a,
.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #009999;
    color: #FFFAF0;
}

.navbar-default .navbar-nav .open .dropdown-menu> li> a:hover {
    color: #000000;
}

 /* For anchor tags with no text, to provide 
 additional information for screenreaders,
 wrapping text in span but hiding via css */
a span {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

/* For photo gallery */
aside {
	text-align: center;
	padding: 20px;
}

.preview {
	width: 10%;
}

#image {
    line-height:650px;
	width: 75%;
    height: auto;
    margin: auto;
    background-image: url('');
    background-repeat: no-repeat;
    color: #FFFAF0;
    text-align: center;
    background-size: 100%;
    font-size: 1.5em;
}

#nicaragua {
	text-align: center;
}

/*For the matching game*/
.heart {
  	position: absolute;
  	width: 50px;
}

#rightSide {
	width: 50%;
	height: 500px;
	float; right;
	display: inline;
	position: relative;
}

#leftSide {
	width: 50%;
	height: 500px;
	float: left;
  	border-right: 3px solid;
  	position: relative;
}

#howToMatch {
	text-align: center;
}

/* For About me carousel */
.carousel {
	background: rgb(0, 0, 0);
}
.carousel-caption.caption-right{
	top: 50px;
	width: 30%; 
	bottom: auto;
	float: right;
	left: auto;
	right: 10%;
	text-align: right;
}

.carousel-caption.caption-bg {
	background: rgba(0, 0, 0, 0.8);
	padding: 10px;
}

.caption {
	font-size: 1.4em;
}

canvas {
	margin: auto;
}