body {
	padding-top: 55px;
}

section h3 {
	padding-top: 100px;
  padding-bottom: 20px;
	text-align: center;
}

section h4 {
	text-align: center;
  padding-bottom: 20px;
}

section {
	padding-top: 55px;
}

p {
	color: #009999;
	padding: 20px;
}

footer {
	text-align: center;
}

a {
	color: #009999
}

.sectionpic {
	width: 100%;
}

.trio {
	font-size: 16px;
}

#socialmedia {
	padding: 25px;
	text-align: center;	
}

#signature {
	font-size: 18px;
	color: #000000;
}

.jumbotron {
	background: #009999;
	color: #FFFAF0;
}

#subtitle {
	color: #FFFAF0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #009999;
}

.navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:hover,
 .navbar-default .navbar-nav > .open > a:focus {
    color: #009999;
}

.navbar-default .navbar-nav .open .dropdown-menu> li> a,
.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #009999;
    color: #FFFAF0;
}

.navbar-default .navbar-nav .open .dropdown-menu> li> a:hover {
    color: #000000;
}